body,
html {
	margin: 0px;
	padding: 0px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial,
		sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

body,
input,
button {
	font-size: 18px;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

html,
body,
.dark,
.light,
.layer {
	background: var(--bg0);
	color: var(--fg0);
}

input,
button {
	background-color: var(--bg1);
	color: var(--fg0);
}

.feedback:hover {
	background-color: var(--bg2);
}
.feedback:active {
	background-color: var(--bg3);
}

.naked {
	--bg0: transparent;
	background-color: transparent;
}

.primary {
	--bg0: var(--primary0);
	--bg1: var(--primary1);
	--bg2: var(--primary2);
	--bg3: var(--primary3);
	--fg0: var(--white0);
	--fg1: var(--white1);
	--fg2: var(--white2);
	--fg3: var(--white3);
	background-color: var(--primary0);
	color: var(--white0);
}

input::placeholder {
	color: var(--fg2);
}

button:focus,
input:focus,
div:focus {
	outline: 2px solid var(--accent0);
	outline-offset: -2px;
}

/* https://cssloaders.github.io */
@keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

.spinner {
	width: 1.25em;
	height: 1.25em;
	border: 0.15em solid var(--fg2);
	border-bottom-color: transparent;
	border-radius: 100%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 800ms linear infinite;
}
